/* RESET */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

body {
    background: #f1f1f1;
    font-family: roboto, sans-serif;
    
  }

/* Header */

header{
    display: flex;
}

.logo_texte_header {
    display: flex;
    margin: 5px;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li{
    margin: 5px;
}

.icons_header ul {
    display: flex;
    margin-right: 2em;
}

.icons_header ul li {
    padding: 5px;
}

.logo_header i {
    font-size: 50px;
}

.nav_header {
    display: flex;
    align-items: center;
}

.barre_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

/* CALL TO ACTION */

.presentation p {
    display: flex;
    justify-content: center;
}

h1{
    margin-top: .1em;
    margin-bottom: .1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.recherche_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche_input input {
    border-radius: 35px;
    font-size: 40px;
    border: 2px solid #fff;
    background: transparent;
    text-align: center;
}

.icone_chercher{
    text-align: left;
    cursor: pointer;
    margin-left: .5em;
}

.icone_chercher::before{
    font-size: 25px;
    background-color: #F83131;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    vertical-align: middle;
}

.recherche p {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    font-size: 10px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    color: white;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note i {
    font-size: 20px;
}

.note p {
    font-size: 25px;
    margin-right: 0.5em;
}

.fa-star:before {
    content: "\f005";
    font-size: 25px;
}

.fa-star-half-alt:before{
    font-size: 25px;
}

.avis {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    font-style: italic;
}

.fa-star, .fa-star-half-alt {
    color: yellow;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;  
    width: 100%;
    height: 100%;
    opacity: .7;
    background: -moz-linear-gradient(113deg, rgba(255,0,0,0.7) 0%, rgba(0,5,120,0.7) 70%);
    background: -webkit-linear-gradient(
        113deg, rgba(255,0,0,0.7) 0%,rgba(0,5,120,0.7) 70%);
    background: linear-gradient(
        113deg, rgba(255,0,0,0.7) 0%,rgba(0,5,120,0.7) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff0000', endColorstr='#85000578',GradientType=1 );
}

.wrapper {
    z-index: 5;
    position: relative;
}

/* SECTION DECOUVRIR FORMATION */

.decouvrir_texte h2{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 20px;
    color: #F83131;
}

.section_decouvrir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.block_decouvrir h3 {
    font-size: 18px;
}

.block_decouvrir:hover {
    color: grey;
}

.block_decouvrir{
    margin: 1rem;
    width: 33.33%;
    padding: 1px;
    border: 2px solid #F8F8F8;
    background: #FFF
    
}

.block_decouvrir img {
    max-width: 100%;
    height: auto;
}

/* SECTION FINANCER FORMATION */

section:nth-child(3){
    background-color: #EDEDED;
}

.section_financement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}